**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.travis.yml
.gitlab-ci.yml
docker-compose*.yaml
docker-compose*.yml
etc/build/*
node_modules/
var/*
vendor/
web/assets/